@model OnlineWarehousingInformationSystem.Models.LoginModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link rel="icon" href="~/Content/images/icon.png" />
    <title>Owis - Sign In</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <link href="~/Content/Style.css" rel="stylesheet" type="text/css" media="all" />
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
</head>
<body>
    <div class="main-agileits">
        <center>
            <img src="~/Content/images/logo.png" alt="Alternate Text" />
            <h1>Online Warehouse Information System</h1>
        </center>
        <div class="mainw3-agileinfo form">
            <div id="login">
                <form action="#" method="post">
                    <div class="field-wrap">
                        <input type="text" name="UserName" required autocomplete="off" placeholder="User Name" style=" width: 97%;padding-left:5px;"/>
                        @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "error" })
                    </div>
                    <div class="field-wrap">
                        <br />
                        <input type="password" name="Password" required autocomplete="off" placeholder="Password" style="width:97%;padding-left:5px;"/>
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "error" })
                    </div>
                    <button class="button button-block">Sign In</button>

                    <div style="color:white;font-size:20px;font-style:italic;margin-top:20px;text-align:center">@Html.ValidationSummary(true)</div>
                </form>
            </div>

        </div>
    </div>


    <script>
        $('.form').find('input, textarea').on('keyup blur focus', function (e) {
            var $this = $(this),
                label = $this.prev('label');

            if (e.type === 'keyup') {
                if ($this.val() === '') {
                    label.removeClass('active highlight');
                } else {
                    label.addClass('active highlight');
                }
            } else if (e.type === 'blur') {
                if ($this.val() === '') {
                    label.removeClass('active highlight');
                } else {
                    label.removeClass('highlight');
                }
            } else if (e.type === 'focus') {

                if ($this.val() === '') {
                    label.removeClass('highlight');
                }
                else if ($this.val() !== '') {
                    label.addClass('highlight');
                }
            }

        });
    </script>
</body>
</html>